<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<img class="user-icon" src="http://dummyimage.com/50x50">
			</div>
			<div class="col-md-9">
				<p>カイバ</p>
				<p>@kaiba</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<dl>
					<dt>ツイート</dt>
					<dd>12345</dd>
				</dl>
			</div>
			<div class="col-md-6">
				<dl>
					<dt>お気に入り</dt>
					<dd>123</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<dl>
					<dt>フォロー</dt>
					<dd>123</dd>
				</dl>
			</div>
			<div class="col-md-6">
				<dl>
					<dt>フォロー</dt>
					<dd>12345</dd>
				</dl>
			</div>
		</div>
	</div>
</div>