<div class="panel panel-default recommend-user">
	<div class="panel-body">
	  <h2>おすすめユーザ</h2>
	  <dl>
	    <dt class="tweet-user"><img class="user-icon" src="http://dummyimage.com/50x50">kaibadash1 @kaibadash1</dt>
	    <dd>waketiさんにフォローされています。</dd>
	    <dt class="tweet-user"><img class="user-icon" src="http://dummyimage.com/50x50">kaibadash1 @kaibadash2</dt>
	    <dd>waketiさんにフォローされています。</dd>
	    <dt class="tweet-user"><img class="user-icon" src="http://dummyimage.com/50x50">kaibadash1 @kaibadash3</dt>
	    <dd>waketiさんにフォローされています。</dd>
	  </dl>
	</div>
</div>